<app-header titulo="Cards"></app-header>

<ion-content>
    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, nulla, dolorum doloribus doloremque dolorem rem eligendi, possimus cupiditate autem commodi delectus labore vero dolores veritatis minus nisi molestias deserunt quibusdam?
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="https://pm1.narvii.com/6385/851d8c6b5e6adbe457f31ce3378bc8e909893200_hq.jpg">
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sit maxime consequuntur eligendi, porro commodi necessitatibus dolorum atque. Vero reiciendis, facere corrupti modi mollitia quasi dolorum iusto eos? Reiciendis, ea!
        </ion-card-content>
    </ion-card>

</ion-content>